

.counts {
    background: #34495E;
    color: #fff;
    border-radius: 5px;
    width: 225px;
}

.counts div {
    padding: 8px;
}

.counts span {
    float: right;
}

.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #8664d4;
}

table {
  color: rgb(1, 43, 15);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #d3b3b8;
}

.header-row {
    background: #004428;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

.highlight {
    background: rgb(123, 123, 211)
}

tr:nth-child(even) {
    background-color: Lightgreen;
}